@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.monaco-editor,
.overflow-guard {
  height: 100% !important;
}
